#main {
    margin-bottom: 40px;
}

.areaVenture .boxPost .boxList li .nameCompany {
    margin-top: 4px;
}

h1.page-title {
    margin: 20px 0px;
    font-size: 25px;
}

#fixH {
    height: 153px !important;
}

